 <div class="intoro">
        
            <h5>診断結果</h5>
            <p>あなたにおすすめの本は…</p>
        </div>
                <% if @perfume.question == "11111" %>
                    <div class="books-container-2">
                        <div class="book-2">
                            <div class="title-2">
                                <a> <a href="/books/13">アイネクライネナハトムジーク</a></a><br>
                            </div>
                            <div class="book-picture-2">
                                <img ssl_detected="false" width="210" height="297" src="http://res.cloudinary.com/djpvqox3f/image/upload/v1695471668/kwhqoor3wzyockraggfk.jpg" />
                            </div>
                        </div>
                        <div class="story-2">
                            ここにヒーローはいない。さあ、君の出番だ。
                            奥さんに愛想を尽かされたサラリーマン、
                            他力本願で恋をしようとする青年、
                            元いじめっこへの復讐を企てるOL……。
                            情けないけど、愛おしい。
                            そんな登場人物たちが紡ぎ出す、数々のサプライズ! !
                            伊坂作品ならではの、伏線と驚きに満ちたエンタテイメント小説!
                        </div>
                    </div>

                <% elsif @perfume.question == "11112" %>
                    <div class="box books-container-2">
                        <div class="book-2">
                            <div class="title-2">
                            <a> <a href="/books/7">アヒルと鴨のコインロッカー</a></a><br>
                                    特徴：叙述トリック
                            </div>
                        <div class="book-picture-2">
                            <img ssl_detected="true" width="210" height="297" src="http://res.cloudinary.com/djpvqox3f/image/upload/v1697372374/lmppyrzzzcrh2oomzwnn.jpg" />
                        </div>
                    </div>
                    <div class="story-2">
                    ボブ・ディランはまだ鳴っているんだろうか?

                    引っ越してきたアパートで出会ったのは、悪魔めいた印象の長身の青年。初対面だというのに、彼はいきなり「一緒に本屋を襲わないか」と持ちかけてきた。彼の標的は――たった1冊の広辞苑!? そんなおかしな話に乗る気などなかったのに、なぜか僕は決行の夜、モデルガンを手に書店の裏口に立ってしまったのだ! 清冽な余韻を残す傑作ミステリ。第25回吉川英治文学新人賞受賞。
                    </div>

                <% elsif @perfume.question == "11211" %>

                <% elsif @perfume.question == "11122" %>


                <% elsif @perfume.question == "11211" %>


                <% elsif @perfume.question == "11212" %>


                <% elsif @perfume.question == "11221" %>
                <% elsif @perfume.question == "11222" %>
                <% elsif @perfume.question == "12111" %>
                <% elsif @perfume.question == "12112" %>
                <% elsif @perfume.question == "12121" %>
                <% elsif @perfume.question == "12122" %>
                <% elsif @perfume.question == "12212" %>
                <% elsif @perfume.question == "12221" %>
                <% elsif @perfume.question == "12222" %>
                <% elsif @perfume.question == "21111" %>
                <% elsif @perfume.question == "21112" %>
                <% elsif @perfume.question == "21121" %>
                <% elsif @perfume.question == "21122" %>
                <% elsif @perfume.question == "21211" %>
                <% elsif @perfume.question == "21212" %>
                <% elsif @perfume.question == "21221" %>
                <% elsif @perfume.question == "21222" %>
                <% elsif @perfume.question == "22111" %>
                <% elsif @perfume.question == "22112" %>
                <% elsif @perfume.question == "22121" %>
                <% elsif @perfume.question == "22211" %>
                <% elsif @perfume.question == "22212" %>
                <% elsif @perfume.question == "22221" %>
                <% elsif @perfume.question == "22222" %>



                <% end %>

        <%# <%= link_to "診断結果を保存する", book_results_path(id: t.id, book_id: t.id), method: :post do %> 
        <%= link_to "一覧に戻る", books_path %>
        <%= link_to 'この診断結果を保存する', perfumes_path(num: @result) , method: :delete %>

        </div>