// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// index
.books-container{
    background-color: aqua;
    width: 675px;
    text-align : center;
    margin: 10px 20px;
    padding: 20px 0 0 8px;
    border-radius: 30px;
}

.title{
    background-color: aliceblue;
    margin: 10px 50px;
}

.book-picture{
    background-color: aliceblue;
    padding: 10px;
    margin: 30px 150px;
}

.story{
    background-color: aliceblue;
    padding: 10px;
    margin: 0px 50px 10px;
}

.box-ranking{
    background-color: aliceblue;
    height: 250px;
    width: 350px;
    padding: 10px;
    margin: 10px;
    flex-shrink: 0;
}

.allbooks{
    display: flex;
    flex-wrap: wrap;
}

.all{
    display:flex;
}

#search{
    margin: 10px;
}

.button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
// ここまで

// show
.title-show{
    background-color: aliceblue;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    padding:10px;
}

.book-picture-show{
    background-color: aliceblue;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    justify-content: center;
}

.detail{
    background-color: aliceblue;
    display:flex;
    flex-direction:row;
    margin: 0px;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
}

.exprain{
    background-color: aliceblue;
    margin-top: 30px;
    font-size:20px;
    max-width: 40%;
}

.yonda-or-yomitai{
    display:flex;
    flex-direction:row; 
}

.yonda{
    background-color: aliceblue;
    margin:5px;
    font-weight: 100;
    font-size:18px;
}

.yomitai{
    background-color: aliceblue;
    margin:5px;
    font-weight: 100;
    font-size:18px;
}

.user-show{
    display:flex;
    flex-direction:row;
    margin-left: 80px;
    margin-right: 80px;

}

.read{
    background-color: aliceblue;
    margin:10px;
    margin-left: 0px;
    width: 250px;
}

.want{
    background-color: aliceblue;
    margin:10px;
    width: 250px;
}

.comment-wrapper{
    background-color: aliceblue;
    margin:10px;
    width: 650px;
}

.detail-all{
    background-color: aqua;
    border-radius: 30px;
    margin:50px 300px;
    padding-top: 10px;
}
// ここまで
